* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  line-height: 1.4;
  color: #655A56;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6),  rgba(255, 255, 255, 0.2)), url("../img/binaryWalSavedForWebl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media all and (max-width: 920px) {
  /* CSS rules here for screens lower than 920px */
  body {
    font-size: 0.8em;
  }
 .container {
    min-width: 80%;
  }
  }
.css-input {
  padding: 0.250em;
  font-size: 1.4em;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 4px rgba(66,66,66,.74);
  text-shadow: 0px 0px 2px rgba(66,66,66,.75);
  min-width: 100%;
  height: 4vh;
}
.css-input:focus {
  outline:none;
}

h3{
  font-size: 2.5em;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.butn {
  display: block;
  margin: 2vh 0;
  font-weight: bold;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 1.4em;
  padding: 0.475em 1.025em 0.475em 1.025em;
  text-decoration: none;
  border-radius: 0.5em;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
